{% load static %}
<!DOCTYPE html>

<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="telephone=no" name="format-detection" />
    {% block meta %}
    {% endblock %}
    {% if title %}
    <title>Autoparts - {{titla}} </title>
    {% else %}
    <title>Autoparts - Choose items</title>
    {% endif %}
    <link href="images/favicon.png" rel="icon" type="image/png" /><!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet" />
    <!-- css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="{% static 'css/bootstrap.css' %} " rel="stylesheet" />
    <link href="{% static 'css/owl.carousel.min.css'  %} " rel="stylesheet" />
    <link href="{% static 'css/photoswipe.css'%} " rel="stylesheet" />
    <link href="{% static 'css/default-skin.css'%} " rel="stylesheet" />
    <link href="{% static 'css/select2.min.css'%} " rel="stylesheet" />
    <link href="{% static 'css/style.css'%} " rel="stylesheet" />
    <link href="{% static 'css/style.header-spaceship-variant-one.css'%} " rel="stylesheet" />
    <link href="{% static 'css/style.mobile-header-variant-one.css'%} " rel="stylesheet" />
    <script src="{% static 'js/jquery.min.js'%}"></script>
</head>
<body>
    <div class="site__body">
        <div class="block-header block-header--has-breadcrumb block-header--has-title">
            <div class="container">
                <div class="block-header__body">
                    <nav class="breadcrumb block-header__breadcrumb" aria-label="breadcrumb">
                        <ol class="breadcrumb__list">
                            <li class="breadcrumb__spaceship-safe-area" role="presentation"></li>
                            <li class="breadcrumb__item breadcrumb__item--parent breadcrumb__item--first"><a
                                    href="index.html" class="breadcrumb__item-link">Home</a></li>
                            <li class="breadcrumb__item breadcrumb__item--parent"><a href=""
                                    class="breadcrumb__item-link">Breadcrumb</a></li>
                            <li class="breadcrumb__item breadcrumb__item--current breadcrumb__item--last"
                                aria-current="page"><span class="breadcrumb__item-link">Current Page</span></li>
                            <li class="breadcrumb__title-safe-area" role="presentation"
                                style="--block-header-title-width:219.5px;"></li>
                        </ol>
                    </nav>
                    <h1 class="block-header__title">Transmission</h1>
                </div>
            </div>
        </div>
        <div class="block-split block-split--has-sidebar">
            <div class="container">
                <div class="block-split__row row no-gutters">
                    
                    <div class="block-split__item block-split__item-content col-auto">
                        <div class="block">
                            <div class="products-view">
                                
                                {% block pcontent %}
                                    
                                {% endblock %}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-space block-space--layout--before-footer"></div>
            </div>
        </div>
    </div>
</body>