

:root {
  --blue: #0d44a2;
  --yellow: #f9d266;
}

* {
  border: none;
  outline: none;
}
header {
  transition: background-color ease 300ms;
}

header .uk-section {
  border-top: 12px solid #4f4f4f;
}

header .uk-container::after {
  width: 100%;
  content: "";
  border-bottom: 4px solid #f7c435;
}

.in-header-logo {
  margin: 30px 0 32px 0;
  border-right: 1px solid #dadada;
}

.in-header-logo .uk-logo {
  padding: 0 32px 0 16px;
}

.in-header-info {
  margin: 10px 16px 0 0;
  color: #9f9f9f;
}

.in-header-info .uk-icon svg {
  margin: -3px 4px 0 0;
}

.in-header-info .uk-button {
  position: relative;
  top: -1px;
}

/* Indonez Sticky Menu */
.in-sticky {
  background-color: #f8f8f8;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.15);
}

.in-sticky .uk-section {
  border-top: none;
  height: 70px;
}

.in-sticky .uk-container::after {
  border-bottom: 0;
}

.in-sticky .in-header-logo {
  width: 70px;
  height: 45px;
  background: url(../img/logo-sticky.svg) no-repeat;
  background-position-x: 45px;
  border-right: 0;
  margin: 12px 0 0px 0;
}

.in-sticky .in-header-info,
.in-sticky .uk-flex p {
  display: none;
}

.in-sticky .uk-navbar-nav > li > a {
  position: relative;
  top: 12px;
  min-height: 70px;
}

/* Indonez Footer */
footer {
  background: #f3f3f3;
  color: #434141;
}

footer .uk-section.uk-padding {
  padding: 60px 0;
}

footer .uk-text-large {
  font-family: "Libre Franklin", sans-serif;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

footer .uk-text-small {
  font-size: 16px;
}

footer .uk-section-muted {
  padding: 2em 0;
}

footer .uk-icon-button {
  background: #f7c435;
  color: #333;
}

/* Indonez Slideshow */
.in-slide-container {
  background: #dbdbdb;
}

.in-slide-container .uk-slideshow-items {
  background: url(/media/wh.jpg);
  background-size: cover;
  background-position: center center;
  height: 70vh;
}

.in-slide-container .uk-slideshow-items li .uk-text-lead {
  font-size: 22px;
}

.in-slide-container .uk-slideshow-items li .uk-text-small {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #808080;
}

.in-slide-container .uk-slidenav-container a {
  margin: 0 10px 30px 0;
  padding: 13px 24px;
  background: rgba(255, 255, 255, 0.85);
  color: #9f9f9f;
  border-radius: 50px;
}

@supports (-ms-ime-align: auto) {
  .in-slideshow ul li .uk-position-center {
    width: 100%;
  }

  .in-slideshow ul li .uk-width-3-4\@m {
    display: inline;
  }
}
.appeller {
  display: none;
}
/* Indonez icon wrapper */
.in-icon-wrapper {
  font-family: "Libre Franklin", sans-serif;
  box-sizing: border-box;
  border-radius: 500px;
  vertical-align: middle;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  margin-top: -3px;
  background: #f0f0f0;
  color: #5c5c5c;
}

.in-icon-wrapper.small {
  width: 38px;
  height: 38px;
}

.in-icon-wrapper.large {
  width: 128px;
  height: 128px;
}

/* Indonez custom card */
.in-custom-card .uk-card {
  border: 2px solid #dbdbdb;
  border-top: none;
  border-right: none;
  box-shadow: 0px 4px 0px 0px #f8f8f8;
  border-radius: 0px;
}

.in-custom-card .uk-card:last-child {
  border-right: 2px solid #dbdbdb;
}

/* Indonez colored card */
.in-colored-card .uk-card {
  border: none;
  box-shadow: none;
}

.in-colored-card .in-icon-wrapper {
  color: rgba(0, 0, 0, 0.4);
}

.in-colored-card a:hover {
  text-decoration: none;
}

.in-colored-card h5 {
  color: rgba(0, 0, 0, 0.6);
}

.in-colored-card h5 span {
  position: relative;
  top: -1px;
}

.in-colored-card p {
  color: rgba(0, 0, 0, 0.5);
}

.in-colored-card.orange .uk-card {
  background-color: #ffeaa7;
}

.in-colored-card.orange .in-icon-wrapper {
  background-color: #fdcb6e;
}

.in-colored-card.green .uk-card {
  background-color: #55efc4;
}

.in-colored-card.green .in-icon-wrapper {
  background-color: #06caa4;
}

.in-colored-card.red .uk-card {
  background-color: #fab1a0;
}

.in-colored-card.red .in-icon-wrapper {
  background-color: #e88067;
}

.in-colored-card.blue .uk-card {
  background-color: #81ecec;
}

.in-colored-card.blue .in-icon-wrapper {
  background-color: #00cec9;
}

.in-colored-card.purple .uk-card {
  background-color: #b0aafe;
}

.in-colored-card.purple .in-icon-wrapper {
  background-color: #9184f4;
}

.in-colored-card.grey .uk-card {
  background-color: #dfe6e9;
}

.in-colored-card.grey .in-icon-wrapper {
  background-color: #b2bec3;
}

/* Indonez icon decor */
.in-icon-decor {
  width: 550px;
  background: url(../img/minerva-icon-ornament1.svg) no-repeat;
  background-position: 30px 40px;
}

.in-icon-decor.small {
  width: 200px;
  margin-top: 5px;
  background: url(../img/minerva-icon-ornament2.svg) no-repeat;
  background-position: 15px 70px;
}

/* Indonez pricing */
.in-pricing .uk-card {
  overflow: hidden;
  border-radius: 6px;
  color: #8f8f8f;
}

.in-pricing .uk-card-header {
  border-top: 4px solid #bababa;
  text-align: center;
}

.in-pricing .uk-card-header h3 {
  margin: 12px 0 -20px 0;
}

.in-pricing .uk-card-header h4 {
  font-size: 48px;
  margin: -10px 0 -10px 0;
}

.in-pricing .uk-card-header .uk-label {
  background-color: #d8d8d8;
  color: #747474;
  margin-bottom: 22px;
}

.in-pricing .uk-card-header h4 span.in-pricing-currency {
  font-size: 18px;
}

.in-pricing .uk-card-header h4 span.in-pricing-currency {
  position: relative;
  top: -20px;
}

.in-pricing.in-pricing-highlight .uk-card-header {
  border-top: 4px solid #f7c435;
}

.in-pricing.in-pricing-highlight .uk-card-header .uk-label {
  background-color: #f7c435;
  color: #333;
}

.in-pricing .uk-card-body {
  background: #f7f7f7;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.in-pricing .uk-card-body .uk-list {
  font-size: 15px;
  margin: 12px 0 52px 0;
}

.in-pricing .uk-card-body .uk-list-bullet > li::before {
  top: 2px;
  background-size: 50%;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20fill%3D%22%23666666%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20d%3D%22M173.898%20439.404l-166.4-166.4c-9.997-9.997-9.997-26.206%200-36.204l36.203-36.204c9.997-9.998%2026.207-9.998%2036.204%200L192%20312.69%20432.095%2072.596c9.997-9.997%2026.207-9.997%2036.204%200l36.203%2036.204c9.997%209.997%209.997%2026.206%200%2036.204l-294.4%20294.401c-9.998%209.997-26.207%209.997-36.204-.001z%22%2F%3E%3C%2Fsvg%3E");
}

.in-pricing .uk-card-body a.uk-button {
  position: relative;
  left: 50%;
  margin-right: -50%;
  margin-bottom: -10px;
  transform: translate(-50%, -50%);
}

/* Indonez testimoni slider */
.in-testimoni-slider blockquote {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  color: #8f8f8f;
}

.in-testimoni-slider blockquote footer::before {
  content: " ";
}

.in-testimoni-slider img {
  margin: 0 40px 0 80px;
}

.in-testimoni-slider .uk-width-auto {
  padding: 25px 0;
}

.in-testimoni-slider .uk-label {
  background: #333;
}

.in-testimoni-slider .uk-width-expand\@m {
  padding: 0px 40px;
  border-left: 1px solid #dadada;
}

/* Indonez customer card */
.in-customer-card {
  background-color: #f8f8f8;
  border-radius: 4px;
}

.in-customer-card .uk-card-header {
  padding: 30px;
}

.in-customer-card .uk-card-footer {
  padding: 30px;
}

.in-customer-card .uk-card-body {
  padding: 20px 30px;
}

.in-customer-card img {
  margin: 0px;
}

.in-customer-card blockquote {
  font-size: 18px;
  line-height: 28px;
  color: #8f8f8f;
}

.in-customer-card footer span {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #4f4f4f;
  letter-spacing: 0px;
}

.in-customer-card footer {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 24px;
}

.in-customer-card cite {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #bebebe;
}

.in-customer-card.uk-background-contain {
  background-size: 55% auto;
}

/* Indonez roadmap */
.in-roadmap hr {
  margin-bottom: 0px;
}

.in-roadmap .uk-card-default {
  border: 2px solid #dbdbdb;
  border-radius: 6px;
  box-shadow: none;
}

.in-roadmap-branch .in-icon-wrapper {
  position: relative;
  top: 20px;
  left: 38px;
}

.in-roadmap-branch .in-roadmap-title {
  height: 98px;
  border-left: 2px solid #dbdbdb;
  margin-left: 5px;
  padding-left: 40px;
}

.in-roadmap-branch .in-roadmap-title span.uk-label {
  margin-top: -4px;
}

/* Indonez blog */
.in-blog p.uk-article-meta {
  font-family: Arial;
  font-size: 12px;
  text-transform: uppercase;
  margin: 10px 0 0px 0;
}

.in-blog p.uk-article-meta span.uk-label {
  background-color: #f7c435;
  font-size: 11px;
  text-transform: uppercase;
  position: relative;
  top: -1px;
  margin-right: 10px;
  padding: 1px 10px;
}

.in-blog img {
  border-radius: 5px;
}

.in-blog .uk-icon-button {
  background-color: #37474f;
  color: white;
}

.in-blog .uk-icon-button.twitter {
  background-color: #5fa8dc;
  color: white;
}

.in-blog .uk-icon-button.facebook {
  background-color: #3a5a98;
  color: white;
}

.in-blog .uk-icon-button.linkedin {
  background-color: #0078b5;
  color: white;
}

.in-quote-post {
  background-color: #84817a;
  border-radius: 5px;
}

.in-quote-post blockquote h3 {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  margin-top: -5px;
}

.in-quote-post blockquote footer cite {
  font-size: 15px;
  color: #b5b5b5;
}

.in-quote-post blockquote footer::before {
  color: #b5b5b5;
}

.in-link-post.uk-background-primary {
  background: #ffeaa7
    url("data:image/svg+xml;charset=UTF-8,%3Csvg%20fill%3D%22%23ffd792%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20d%3D%22M326.612%20185.391c59.747%2059.809%2058.927%20155.698.36%20214.59-.11.12-.24.25-.36.37l-67.2%2067.2c-59.27%2059.27-155.699%2059.262-214.96%200-59.27-59.26-59.27-155.7%200-214.96l37.106-37.106c9.84-9.84%2026.786-3.3%2027.294%2010.606.648%2017.722%203.826%2035.527%209.69%2052.721%201.986%205.822.567%2012.262-3.783%2016.612l-13.087%2013.087c-28.026%2028.026-28.905%2073.66-1.155%20101.96%2028.024%2028.579%2074.086%2028.749%20102.325.51l67.2-67.19c28.191-28.191%2028.073-73.757%200-101.83-3.701-3.694-7.429-6.564-10.341-8.569a16.037%2016.037%200%200%201-6.947-12.606c-.396-10.567%203.348-21.456%2011.698-29.806l21.054-21.055c5.521-5.521%2014.182-6.199%2020.584-1.731a152.482%20152.482%200%200%201%2020.522%2017.197zM467.547%2044.449c-59.261-59.262-155.69-59.27-214.96%200l-67.2%2067.2c-.12.12-.25.25-.36.37-58.566%2058.892-59.387%20154.781.36%20214.59a152.454%20152.454%200%200%200%2020.521%2017.196c6.402%204.468%2015.064%203.789%2020.584-1.731l21.054-21.055c8.35-8.35%2012.094-19.239%2011.698-29.806a16.037%2016.037%200%200%200-6.947-12.606c-2.912-2.005-6.64-4.875-10.341-8.569-28.073-28.073-28.191-73.639%200-101.83l67.2-67.19c28.239-28.239%2074.3-28.069%20102.325.51%2027.75%2028.3%2026.872%2073.934-1.155%20101.96l-13.087%2013.087c-4.35%204.35-5.769%2010.79-3.783%2016.612%205.864%2017.194%209.042%2034.999%209.69%2052.721.509%2013.906%2017.454%2020.446%2027.294%2010.606l37.106-37.106c59.271-59.259%2059.271-155.699.001-214.959z%22%2F%3E%3C%2Fsvg%3E")
    no-repeat;
  background-position: bottom right;
  background-size: 7%;
  border-radius: 5px;
}

.in-link-post h3 a {
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.4);
}

.in-link-post .uk-text-truncate {
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.4);
}

.in-blog-sidebar .uk-card-body {
  padding: 26px 26px;
}

.in-blog-sidebar .uk-search-default .uk-search-input {
  height: 46px;
  padding-left: 20px;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06);
}

.in-blog-sidebar .uk-search-default .uk-search-icon-flip {
  padding-right: 10px;
}

/* Indonez widget */
.in-widget-category li a span {
  position: relative;
  top: 5px;
}

.in-widget-popular.uk-list-divider > li:nth-child(n + 2) {
  margin-top: 18px;
  padding-top: 18px;
}

.in-widget-popular li img {
  width: 77px;
  height: 77px;
}

.in-widget-popular li a {
  position: relative;
  top: -7px;
}

.in-widget-popular li span {
  font-weight: 800;
  font-size: 12px;
  width: 100%;
  margin: 1px 0 -10px 0;
  float: left;
}

.in-widget-popular li a span {
  color: #f7c435;
}

.in-widget-archive li a span.uk-label {
  font-size: 11px;
  background: #333;
  text-transform: uppercase;
  padding: 1px 6px 0px 6px;
  position: relative;
  top: 6px;
}

.in-widget-archive li a:hover span.uk-label {
  background-color: #f7c435;
}

.in-widget-tag a.uk-label {
  margin-right: 5px;
}

.in-widget-category li a,
.in-widget-popular li a,
.in-widget-archive li a {
  color: #b4b4b4;
}

.in-widget-category li a:hover,
.in-widget-popular li a:hover,
.in-widget-archive li a:hover {
  color: #f7c435;
}

/* Indonez plyr.io */
.in-video-wrapper .plyr,
.in-audio-wrapper .plyr {
  border-radius: 5px;
}

.in-audio-wrapper > .plyr--audio .plyr__controls {
  background-color: #2d3436;
}

.in-audio-wrapper .plyr__controls__item:first-child,
.in-audio-wrapper .plyr__controls__item.plyr__time,
.in-audio-wrapper .plyr button {
  color: rgba(255, 255, 255, 0.65);
}

.in-audio-wrapper .plyr__menu__container .plyr__control {
  color: #4a5764;
}

.in-audio-wrapper
  .plyr--full-ui.plyr--audio
  input[type="range"]::-webkit-slider-runnable-track {
  background-color: rgba(193, 201, 209, 0.26);
}

.in-audio-wrapper .plyr--audio .plyr__progress__buffer {
  color: rgba(193, 201, 209, 0.46);
}

/* Indonez totop */
.in-totop {
  margin: -60px 50px 0 0;
  padding: 22px 15px;
  background: #f8f8f8;
  color: #9f9f9f;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.in-totop:hover {
  color: #9f9f9f;
}

.in-totop svg[data-svg^="fa-"] {
  height: 16px;
}

/* Indonez blockquote */
.in-blockquote {
  border-left: 2px solid #dbdbdb;
  margin: 30px 0 30px 45px;
  padding-left: 40px;
}

/* Indonez image shadow */
.in-img-shadow {
  box-shadow: 20px 20px 0px 0px #f7c435;
}

/* uk-accordion remove border bottom */
.uk-open > .uk-accordion-title {
  border-bottom: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* tablet potrait and lower */


@media (max-width: 960px) {
  .whitetext {
    font-size: 1.05em;
  }
  .form {
    flex-direction: column;
    padding: 5px;
  }
  header .uk-width-auto\@m {
    display: initial;
  }

  .in-header-logo {
    border-right: 5px;
    margin: 24px 0;
  }

  .in-header-logo .uk-logo {
    padding: 0px;
  }

  .in-sticky .in-mobile-nav {
    margin-top: 6px;
  }

  .in-sticky .in-header-logo {
    background-position-x: 30px;
  }

  .in-mobile-nav a,
  .uk-close-large {
    border: 1px solid #dadada;
    border-radius: 5px;
    padding: 1px 14px;
  }

  .uk-close-large {
    top: 20px;
    right: 20px;
    padding: 10px 16px;
  }

  .uk-modal-dialog .uk-nav-sub [data-svg^="fa-"] {
    margin: -2px 0 0 7px;
  }

  .uk-modal-dialog ul.uk-nav-primary {
    border-bottom: 1px solid #dadada;
    margin-bottom: 35px;
    padding-bottom: 23px;
  }

  .uk-slidenav-container {
    position: relative;
    bottom: -50px;
  }

  .uk-slidenav-container a {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  }

  .in-slideshow ul li .uk-width-3-4\@m {
    left: 7.5%;
    position: relative;
    padding-left: 0;
  }

  .in-testimoni-slider img {
    margin: 0 auto;
  }

  .in-testimoni-slider .uk-width-expand\@m {
    padding-left: 14%;
    border-left: none;
  }

  .in-custom-card .uk-card:last-child {
    border-right: none;
  }

  .in-img-shadow {
    position: relative;
    left: 0%;
  }

  .in-roadmap > .uk-child-width-1-1 > div {
    margin-top: 0px;
  }

  .in-blog .uk-margin-large-left {
    margin-left: 0px !important;
  }

  .in-blockquote {
    margin: 30px 0 20px 30px;
    padding-left: 30px;
  }

  .uk-comment-list .uk-comment ~ ul {
    padding-left: 0px;
  }

  /* helper */
  .in-margin-negative-top\@s {
    margin-top: -30px !important;
  }

  .in-margin-remove-top\@s {
    margin-top: 0px !important;
  }

  .in-margin-top\@s {
    margin-top: 20px !important;
  }

  .in-margin-small-top\@s {
    margin-top: 10px !important;
  }

  .in-margin-large-top\@s {
    margin-top: 60px !important;
  }

  .in-margin-negative-bottom\@s {
    margin-bottom: -30px !important;
  }

  .in-margin-remove-bottom\@s {
    margin-bottom: 0px !important;
  }

  .in-margin-bottom\@s {
    margin-bottom: 20px !important;
  }

  .in-margin-small-bottom\@s {
    margin-bottom: 10px !important;
  }

  .in-margin-large-bottom\@s {
    margin-bottom: 60px !important;
  }

  .in-margin-remove-left\@s {
    margin-left: 0px !important;
  }

  .in-margin-remove-right\@s {
    margin-right: 0px !important;
  }
}

/*partemaires*/
.partenaires {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

/*cartmark*/

section {
  margin: 2.5em 0;
}

.cartmark {
  text-align: center;
  border: 1px solid #d2d2d2;
  color: black;
  background: white;
  border-radius: 10px;
  transition: all 0.5s ease;
  overflow: hidden;
  position: relative;
}

.bg-aliceblue {
  background-color: aliceblue;
}
.carttext {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.carttext a {
  background-color: rgb(12, 17, 39);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 5px;
}
.cartmark img {
  max-width: 100%;
  border-bottom: 1px solid #e2e2e2;
}


.cartmark:hover {
  transform: translate(0, -8px);
  box-shadow: 5px 3px 13px 0px #c1c1c1;
}

/*form-popup*/
.contact-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.form {
  display: flex;
  gap: 2em;
  justify-content: center;
}
.form-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form input {
  background: none;
  color: gray;
  padding: 7px;
  border-bottom: 1px solid black;
  width: 100%;
  transition:all .5s ease;
}
.form input:focus{
  border-bottom: 3px solid var(--blue) ;
}
.form button {
  width: 30%;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
  background: black;
  color: white;
  transition: all 0.5s ease;
}
.form button:hover {
  background: white;
  color: black;
  border-bottom: 3px solid gray;
}
.close-popup {
  cursor: pointer;
  background: black;
  padding: 1em;
  color: white;
}

.presentation {
  text-align: center;
}
.whitetext {
  color: white;
  text-shadow: 2px 3px 15px black;
}
.lesswhite {
  color: #e3e3e3;
}

.statscard {
  padding: 1.05em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.count h1 {
  font-weight: bold;
  color: var(--blue);
}
.count p {
  text-transform: uppercase;
}

.carac {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  padding: 2em 0;
  border: none;
}

.cars .sat{
  width: 7vw;
}

.carac p {
  text-transform: uppercase;
  color: var(--blue);
}

.presentation {
  color: black;
}

.cars {
  display: flex;
  gap: 20px;
}
.contactbtn{
  background: var(--blue);
  color: white;
  padding: 15px;
  border-radius: 10px;
}

.graycolor{
  background: #fafafa;
  color: #444444;
}








/*phone*/
@media (max-width: 650px) {
  .contact-form{
    flex-direction: column;
  }
  .appeller {
    display: block;
    bottom: 0;
    width: 100%;
    z-index: 9;
  }
}