{% extends 'base.html' %}

{% block css %}

{% endblock %}

{% block content %}


<style>
    body {
        background: #f8f9fa;
    }
    .card {
        border: none;
        border-radius: 12px;
        transition: 0.2s;
    }
    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    }
</style>

<div class="container py-5">
    <h1 class="text-center mb-5">Contact Us</h1>

<div class="row g-4">

    <!-- Section 1 -->
    <div class="col-md-6">
        <div class="card p-4 h-100">
            <h4>Email Support</h4>
            <strong>gzenaya.ae@gmail.com</strong>
        </div>
    </div>

    <!-- Section 2 -->
    <div class="col-md-6">
        <div class="card p-4 h-100">
            <h4>Phone FIX</h4>
            <p class="fw-bold">+212 528 305 135</p>
        </div>
    </div>

    <!-- Section 3 -->
    <div class="col-md-6">
        <div class="card p-4 h-100">
            <h4>Telephone</h4>
            <strong>0674229945</strong>
            <strong>0662745030</strong>
        </div>
    </div>

    <!-- Section 4 -->
    <div class="col-md-6">
        <div class="card p-4 h-100">
            <h4>Address</h4>
            <strong>Bloc 4 N° 45 Agdal Ait Melloul Agadir - gzenaya.ae@gmail.com</strong>
        </div>
    </div>

</div>

</div>


{% endblock %}