{% extends 'mainlyt.html' %}

{% block css %}
{% endblock %}

{% block content %}

<div>
  <div class="in-slide-container uk-section uk-padding-remove-vertical uk-margin-medium-bottom"
      data-uk-scrollspy="cls:uk-animation-fade; delay: 200">
      <div class="">
          <!-- slideshow begin -->
          <div class="uk-position-relative uk-visible-toggle in-slideshow">
              <ul class="uk-slideshow-items">
                  <li>
                      <div class="uk-position-center uk-width-1-1 uk-width-1-2@m uk-text-center ">
                          <h1 class="whitetext" style="color: #df691a">LA QUALITE EST NOTRE BUT</h1>
                          
                      </div>

                  </li>
                  <li>
                      <div class="uk-position-center uk-flex uk-flex-center" data-uk-grid>
                          <div class="uk-width-1-1 uk-width-3-4@m uk-text-center">
                              <h1 class="whitetext" style="color: #df691a">
                                REJOINIER NOUS ET PROFITER DES PRODUITS HAUT QUALITE DU BON PRIX
                              </h1>


                          </div>
                      </div>
                  </li>
              </ul>
              <div class="uk-slidenav-container uk-position-bottom-right">
                  <a  data-uk-slideshow-item="previous"
                      data-uk-icon="icon: fa-chevron-left; ratio: .028"></a>
                  <a  data-uk-slideshow-item="next"
                      data-uk-icon="icon: fa-chevron-right; ratio: .028"></a>
              </div>
          </div>
          <!-- slideshow end -->
      </div>
  </div>
  <div class="uk-section uk-padding-remove-top">
     
          <!-- grid content begin -->
          <div class="presentation">
              <div class="">
                  <h2>
                      RPA
                  </h2>
                  <div class="">
                      <div class="">
                          <p>
                              On est leader de l'importation et de la distribution des pièces automobiles
                          </p>
                          <!--<a href="/aboutus"
                              class="uk-button uk-button-primary uk-button-large uk-border-pill">Qui sommes nous
                              <span data-uk-icon="icon: fa-arrow-right; ratio: .028"></span></a>-->
                      </div>

                  </div>
              </div>



          </div>

          <hr id="marques">

          <div class="bg-aliceblue uk-padding-small">
              <div class="partenaires_ uk-container" >
                  <h2>Nos Marques</h2>
                  <div class="partenaires">
                    <div class="cartmark">
                        
                            <img src="/media/gsp.jpg" alt="GSP">
                        
                        <p>GSP</p>
                    </div>
                    <div class="cartmark">
                        
                            <img src="/media/kalaso.jpg" alt="KALASO">
                        
                        <p>KALASO - AMORTISSEUR</p>
                    </div>

                    
                    <div class="cartmark">
                        
                            <img src="/media/tipwintermostat.jpg" alt="TIPWIN THERMOSTAT">
                        
                        <p>TIPWIN THERMOSTAT</p>
                    </div>
                    <div class="cartmark">
                        
                            <img src="/media/tipwinpomp.jpg" alt="TIPWIN POMPE EMB">
                        
                        <p>TIPWIN POMPE EMB</p>
                    </div>
                    <div class="cartmark">
                            <img src="/media/prs.jpg" alt="ETS">
                        <p>PRS - SUSPENSEION</p>
                    </div>
                    <div class="cartmark">
                            <img src="/media/etssusp.jpg" alt="ETS">
                        <p>ETS - SUSPENSEION</p>
                    </div>
                    <div class="cartmark">
                            <img src="/media/etssup.jpg" alt="ETS">
                        <p>ETS - Support</p>
                    </div>

                    <div class="cartmark">
                            <img src="/media/ryco2.jpg" alt="RYCO">
                        <p>RYCO - TENDEUR</p>
                    </div>

                    <div class="cartmark">
                            <img src="/media/eurorepar.jpg" alt="RYCO">
                        <p>Eurorepar</p>
                    </div>
                    <div class="cartmark">
                            <img src="/media/pokess.jpg" alt="RYCO">
                        <p>Pokess - POMPE A EAU</p>
                    </div>

                    <div class="cartmark">
                            <img src="/media/svac.jpg" alt="RYCO">
                        <p>SVAC - Bougie</p>
                    </div>
                    <div class="cartmark">
                            <img src="/media/cometic.jpg" alt="RYCO">
                        <p>Cometic - Joint culasse</p>
                    </div>

                    <div class="cartmark">
                            <img src="/media/rotex.jpg" alt="RYCO">
                        <p>Rotex - Plaquette de frien</p>
                    </div>

                    
                   
           
                    
   
                   
                    
           
                </div>
                 
   
              </div>
          </div>


          <!--<div class="bg-aliceblue uk-padding-small">
              <div class="products uk-container">
                <h2>
                    Nos produits
                </h2>
                <div class="partenaires">
                    <div class="cartmark">
                        <a >
                            <img src="https://res.cloudinary.com/yurey/image/upload/v1678748176/autopart/partners/fusible_kttqs9.jpg" alt="Fusible">
                        </a>
                        <p>Fusible</p>
                    </div>
                    <div class="cartmark">
                        <a >
                            <img src="https://res.cloudinary.com/yurey/image/upload/v1678745990/autopart/partners/IMG-20230312-WA0016_zbbbkj.jpg" alt="Pompe eau">
                        </a>
           
                        <p>Pompe eau</p>
           
           
                    </div>
                    <div class="cartmark">
                        <a >
                            <img src="https://res.cloudinary.com/yurey/image/upload/v1678641247/autopart/partners/crclp_rwrtrz.jpg" alt="Circlips">
                        </a>
           
                        <p>Circlips</p>
           
           
                    </div>
                </div>
                <a class="uk-button uk-button-primary uk-width-1-1" href="/catalog">
                    Voir le Catalogue
                </a>
              </div>
          </div>
          <div class="uk-padding-small">
              <div class="statistics uk-container">
                  <div class="partenaires">
                      <div class="cartmark statscard">
                          <div class="icon" data-uk-icon="icon:fa-barcode; ratio: .15;">
   
                          </div>
                          <div class="count">
                              <h1>+15 000</h1>
                              <p>References</p>
                          </div>
   
                      </div>
   
                      <div class="cartmark statscard">
                          <div class="icon" data-uk-icon="icon:fa-users; ratio: .15;">
   
                          </div>
                          <div class="count">
                              <h1>+ 1500</h1>
                              <p>clients</p>
                          </div>
   
                      </div>
   
                      <div class="cartmark statscard">
                          <div class="icon" data-uk-icon="icon:fa-people-carry; ratio: .15;">
   
                          </div>
                          <div class="count">
                              <h1>+20</h1>
                              <p>stuff</p>
                          </div>
   
                      </div>
   
                      <div class="cartmark statscard">
                          <div class="icon" data-uk-icon="icon:fa-map-marker-alt; ratio: .15;">
   
                          </div>
                          <div class="count">
                              <h1>+100</h1>
                              <p>villes</p>
                          </div>
   
                      </div>
   
   
                  </div>
              </div>
          </div>
            -->
          <hr id="contactus"/>


          <!-- grid content end -->
          <!-- grid content begin -->
          <!---

          <div class="uk-grid">
              <div class="uk-width-expand">
                  <img class="in-img-shadow in-margin-large-bottom@s uk-margin-small-top uk-align-center uk-align-left@m" src="img/minerva-img-sample1.jpg" data-src="img/minerva-img-sample1.jpg" alt="image-sample1" data-width data-height data-uk-img>
              </div>
              <div class="uk-width-1-1 uk-width-2-3@m uk-flex uk-flex-middle">
                  <div class="uk-margin-medium-left in-margin-remove-left@s">
                      <h2 class="uk-margin-remove-bottom">Discover even more possibilities</h2>
                      <p class="uk-text-lead uk-margin-small-top">We’ve built a full stack of social media tools to help modern brands grow their sales.</p>
                      <hr class="uk-margin-medium-top uk-margin-medium-bottom">
                      <div class="uk-child-width-1-1 uk-child-width-1-2@m" data-uk-grid>
                          <div class="uk-flex">
                              <div class="in-icon-decor small">
                                  <img src="img/minerva-content-icon4.svg" data-src="img/minerva-content-icon4.svg" alt="minerva-icon4" data-width data-height data-uk-img>
                              </div>
                              <div class="uk-margin-left">
                                  <h4>Build your Business Kingdom</h4>
                                  <p>Facilis este expedita distinctio libero tempore soluta nobis eligendi cumque nihil impedit</p>
                              </div>
                          </div>
                          <div class="uk-flex">
                              <div class="in-icon-decor small">
                                  <img src="img/minerva-content-icon5.svg" data-src="img/minerva-content-icon5.svg" alt="minerva-icon5" data-width data-height data-uk-img>
                              </div>
                              <div class="uk-margin-left">
                                  <h4>Monitor Entire your Business</h4>
                                  <p>Facilis este expedita distinctio libero tempore soluta nobis eligendi cumque nihil impedit</p>
                              </div>
                          </div>
                      </div>
                      <a  class="uk-button uk-button-link uk-margin-small-top uk-margin-right">Explore features <span data-uk-icon="icon: fa-arrow-right; ratio: .028"></span></a>
                  </div>
              </div>
          </div>-->

          <!-- grid content end -->
          <!-- grid content begin -->

          <!-- grid content end -->

  </div>
  <div class="uk-section uk-padding-remove-top" >
    <div class="uk-container">
        <!-- grid content begin -->
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-width-3-5@m">
                <p>
                    Si vous avez des questions concernant notre produit, n'hésitez pas à nous contacter. <br>
                    Remplissez simplement le formulaire
                    de contact ici et nous nous assurerons de vous répondre le plus rapid possible.
                </p>
                <div class="" data-uk-grid>
                   
                    <div>
                        <h4>Contact information</h4>
                        <div class="uk-flex">
                            <div class="in-custom-icon-button small">
                                <span class="uk-icon-button" data-uk-icon="icon:fa-envelope; ratio: 0.028"></span>
                            </div>
                            <div class="uk-margin-small-left">
                                <p>test@gmail.com</p>
                            </div>
                        </div>
                        <div class="uk-flex">
                            <div class="in-custom-icon-button small">
                                <span class="uk-icon-button" data-uk-icon="icon:fa-phone; ratio: 0.028"></span>
                            </div>
                            <div class="uk-margin-small-left">
                                <p>
                                    Commercial ibrahim +212 661 93 01 52 / +212 666 03 72 81
                                </p>
                            </div>

                            
                            
                        </div>
                        <div class="uk-flex">
                            <div class="in-custom-icon-button small">
                                <span class="uk-icon-button" data-uk-icon="icon:fa-phone; ratio: 0.028"></span>
                            </div>
                            <div class="uk-margin-small-left">
                                <p>
                                    Commercial Lahcen +212 661 64 73 25 / +212 667 76 50 91
                                </p>
                            </div>
                        </div>
                        <div class="uk-flex">
                            <div class="in-custom-icon-button small">
                                <span class="uk-icon-button" data-uk-icon="icon:fa-phone; ratio: 0.028"></span>
                            </div>
                            <div class="uk-margin-small-left">
                                <p>
                                    Magazin +212 661 92 64 46 / +212 528 24 35 17 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-flex">
                    <div class="in-custom-icon-button small">
                        <span class="uk-icon-button" data-uk-icon="icon:fa-map-marker-alt; ratio: 0.028"></span>
                    </div>
                    <div class="uk-margin-small-left" data-uk-lightbox>
                        <p>
                            Lot. Agrana Ait melloul
                        </p>
                    </div>
                   
                   
                </div>
                <!-- <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=chhdia&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://justpaste.it/redirect/c38zk/https%3A%2F%2F123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://justpaste.it/redirect/c38zk/https%3A%2F%2Fwww.embedgooglemap.net">google map coding</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div> -->
               
            </div>
            <div class="uk-width-1-1 uk-width-expand@m">
                <div class="in-colored-card grey">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-body">
                          <form method="post" action="/contactform">
                                <div>
                                    <input class="uk-input" name="name" id="name" value="" type="text" placeholder="Nom">
                                </div>
                                <div class="uk-margin uk-width-1-1">
                                    <input type="number" class="uk-input" name="phone" id="phone" value=""  placeholder="phone" required>
                                </div>
                                <div class="uk-margin uk-width-1-1">
                                    <input class="uk-input" name="subject" id="subject" value="" type="text" placeholder="Sujet">
                                </div>
                                <div class="uk-margin uk-width-1-1">
                                    <textarea class="uk-textarea" name="message" id="message" rows="5" placeholder="Message"></textarea>
                                </div>
                                <div>
                                    <button class="uk-width-1-1 uk-button uk-button-primary uk-border-pill uk-float-left" id="buttonsend" type="submit" name="submit">Envoyer</button>
                                </div>
                          </form> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- grid content end -->
        <hr>
        
    </div>
</div>
</div>
<!-- content end -->
{% endblock %}
{% block js %}


{% endblock %}