{% extends 'mainlyt.html' %}

{% block css %}

{% endblock %}

{% block content %}
<div class="uk-container">
    <!-- breadcrumb content begin -->
    <div class="uk-grid ">
        <div class="uk-width-1-1">
            <ul class="uk-breadcrumb uk-margin-top uk-margin-remove-bottom">
                <li>
                    <a href="../" data-uk-icon="arrow-left">
                    </a>
                </li>
            </ul>
            </ul>
            <h1 class="uk-margin-small-top"></h1>
        </div>
        <a href="/catalogpage" class="btn btn-primary">
            Voir le catalog
        </a>
    </div>
    <!-- breadcrumb content end -->
    <section class="partenaires_">
        
        <div class="partenaires">
            <div class="cartmark">
                <a >
                    <img src="https://res.cloudinary.com/yurey/image/upload/v1678218094/autopart/partners/jenp_tabi4t.jpg" alt="JENP">
                </a>
                <p>JENP</p>
            </div>
            <div class="cartmark">
                <a >
                    <img src="https://res.cloudinary.com/yurey/image/upload/v1678100964/autopart/partners/bendix_elbcxt.jpg" alt="airtex">
                </a>
                <p>Bendix</p>
            </div>
            <div class="cartmark">
                <a >
                    <img src="https://res.cloudinary.com/yurey/image/upload/v1678100964/autopart/partners/airtex_fyatnf.jpg" alt="airtex">
                </a>
                <p>Airtex</p>
            </div>
            
            <div class="cartmark">
                <a >
                    <img src="https://res.cloudinary.com/yurey/image/upload/v1678101629/autopart/partners/energizer_nlxpfx.jpg" alt="energizer">
                </a>
    
                <p>Energizer</p>
    
    
            </div>
            <div class="cartmark">
                <a >
                    <img src="https://res.cloudinary.com/yurey/image/upload/v1678222425/autopart/partners/ets_jupvl4.jpg" alt="energizer">
                </a>
    
                <p>ETS</p>
    
    
            </div>

            <div class="cartmark">
                <a >
                    <img src="https://res.cloudinary.com/yurey/image/upload/v1678222666/autopart/partners/smffilter_pfzkz6.jpg" alt="energizer">
                </a>
    
                <p>SMF filters</p>
    
    
            </div>
            <div class="cartmark">
                <a >
                    <img src="https://res.cloudinary.com/yurey/image/upload/v1678218094/autopart/partners/jenp_tabi4t.jpg" alt="JENP">
                </a>
                <p>JENP</p>
            </div>
            <div class="cartmark">
                <a >
                    <img src="https://res.cloudinary.com/yurey/image/upload/v1678641245/autopart/partners/fus_am6uou.jpg" alt="Fusible">
                </a>
                <p>Fusible</p>
            </div>
    
            

            
            <div class="cartmark">
                <a >
                    <img src="https://res.cloudinary.com/yurey/image/upload/v1678100964/autopart/partners/pressgom_w4n1pm.jpg" alt="Pressgom">
                </a>
                <p>Pressgom</p>
            </div>
    
            <div class="cartmark">
                <a >
                    <img src="https://res.cloudinary.com/yurey/image/upload/v1678100965/autopart/partners/gatzcourrois_o3me6g.jpg" alt="Gatescourrois">
                </a>
                <p>Gatescourrois</p>
            </div>
    
            <div class="cartmark">
                <a >
                    <img src="https://res.cloudinary.com/yurey/image/upload/v1678100965/autopart/partners/fareauto_x6oiov.jpg" alt="Fare automotive">
                </a>
                <p>Fare automotive</p>
            </div>
    
            <div class="cartmark">
                <a >
                    <img src="https://res.cloudinary.com/yurey/image/upload/v1678100964/autopart/partners/beseka_wbwsrn.jpg" alt="Beseka">
                </a>
                <p>Beseka</p>
            </div>
    
            <div class="cartmark">
                <a >
                    <img src="https://res.cloudinary.com/yurey/image/upload/v1678100964/autopart/partners/braxis_gztcrm.jpg" alt="Braxis">
                </a>
                <p>Braxis</p>
            </div>
    
            <div class="cartmark">
                <a >
                    <img src="https://res.cloudinary.com/yurey/image/upload/v1678100965/autopart/partners/muleroil_hepkwc.jpg" alt="muleroil">
                </a>
                <p>Muleroil</p>
            </div>
    
            <div class="cartmark">
                <a >
                    <img src="https://res.cloudinary.com/yurey/image/upload/v1678100964/autopart/partners/smotfilter_bcbjpw.jpg" alt="smotfilter">
                </a>
                <p>Smotfilter</p>
            </div>
    
            <div class="cartmark">
                <a >
                    <img src="https://res.cloudinary.com/yurey/image/upload/v1678100965/autopart/partners/japaco_jzuxrz.jpg" alt="japaco">
                </a>
                <p>Japaco</p>
            </div>

            <div class="cartmark">
                <a >
                    <img src="https://res.cloudinary.com/yurey/image/upload/v1678100965/autopart/partners/kayaplastik_ao1qa4.jpg" alt="Kayaplastik">
                </a>
                <p>Kayaplastik</p>
            </div>

            <div class="cartmark">
                <a >
                    <img src="https://res.cloudinary.com/yurey/image/upload/v1678100965/autopart/partners/nakamoto_nyldkv.jpg" alt="Nakamoto">
                </a>
                <p>Nakamoto</p>
            </div>
        </div>
        
    <!-- <div class="uk-nav-center uk-padding">
        <a href="contact.html" class="uk-button uk-button-primary uk-border-pill">
            devenir un partenaire
        </a>
    </div> -->
    </section>
</div>
{% endblock %}

{% block js %}

{% endblock %}